[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "directxtex"]
	path = directxtex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "directxtk12"]
	path = directxtk12
	url = https://github.com/microsoft/DirectXTK12.git
